/* Centralizando o conteúdo dentro do body */
body {
    body {
        font-family: 'Dancing Script', cursive;
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "cursive"; /* Aplica a fonte Playfair Display */
    text-align: center;
}

/* Container geral */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajuste da imagem */
.image-container img {
    width: 80%; /* Ajuste o tamanho da imagem conforme necessário */
    max-width: 800px; /* Limita a largura máxima para evitar que a imagem fique grande demais */
    height: auto;
    margin-top: 20px;
}

/* Estilo do botão */
.button-container {
    margin-top: 20px;
}

.button {
    text-decoration: none;
    background-color: #f76be9; /* Cor do botão */
    padding: 0px 100px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    font-family: "Dancing Script"; /* Aplica a fonte Playfair Display também no botão */
}

.button-text {
    text-align: center;
}
